<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

        <title>zuph</title>
    <meta name="description" content="Welcome to World Changers Church International">
    <meta property="og:title" content="Home" />
    <meta property="og:description" content="Welcome to city of Minitries International" />
    <meta property="og:site_name" content="WCC International" />
    <meta property="og:type" content="" />
    <meta property="og:image" content="" />

    
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="google-site-verification" content="7v5yx9dITh_3NyD7tuo6gs3NZ1LoC61kgZPqimshtKw" />
<meta name="google-site-verification" content="cdnGVk7kHKKf3lmg58mmYr1SV2DnR6MnSP79AdHI0o4" />
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
<link rel="stylesheet" href="content/fonts.css" />
<link href="CSS/Website223a.css?v=b5SfTr8MxB_2PNeZ0LhCiDhXO3RAl5ph6ksk_hi7eOQ1" rel="stylesheet"/>



           <!-- Sitewide CSS -->
<link href="Content/styles.css" rel="stylesheet" />
<link href="Content/001.css" rel="stylesheet" />
    <!-- In page CSS -->
</head>
<body>