@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat-v7-latin/montserrat-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat-Regular"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-regulard41d.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-regular.woff2") format("woff2"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-regular.woff") format("woff"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-regular.ttf") format("truetype"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/montserrat-v7-latin/montserrat-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat-Bold"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-700d41d.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-700.woff2") format("woff2"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-700.woff") format("woff"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-700.ttf") format("truetype"), url("fonts/montserrat-v7-latin/montserrat-v7-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/roboto-v15-latin/roboto-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("fonts/roboto-v15-latin/roboto-v15-latin-300d41d.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v15-latin/roboto-v15-latin-300.woff2") format("woff2"), url("fonts/roboto-v15-latin/roboto-v15-latin-300.woff") format("woff"), url("fonts/roboto-v15-latin/roboto-v15-latin-300.ttf") format("truetype"), url("fonts/roboto-v15-latin/roboto-v15-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v15-latin/roboto-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto-v15-latin/roboto-v15-latin-regulard41d.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v15-latin/roboto-v15-latin-regular.woff2") format("woff2"), url("fonts/roboto-v15-latin/roboto-v15-latin-regular.woff") format("woff"), url("fonts/roboto-v15-latin/roboto-v15-latin-regular.ttf") format("truetype"), url("fonts/roboto-v15-latin/roboto-v15-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-v15-latin/roboto-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("fonts/roboto-v15-latin/roboto-v15-latin-700d41d.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v15-latin/roboto-v15-latin-700.woff2") format("woff2"), url("fonts/roboto-v15-latin/roboto-v15-latin-700.woff") format("woff"), url("fonts/roboto-v15-latin/roboto-v15-latin-700.ttf") format("truetype"), url("fonts/roboto-v15-latin/roboto-v15-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/roboto-v15-latin/roboto-v15-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("fonts/roboto-v15-latin/roboto-v15-latin-900d41d.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v15-latin/roboto-v15-latin-900.woff2") format("woff2"), url("fonts/roboto-v15-latin/roboto-v15-latin-900.woff") format("woff"), url("fonts/roboto-v15-latin/roboto-v15-latin-900.ttf") format("truetype"), url("fonts/roboto-v15-latin/roboto-v15-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Crimson Text"), local("CrimsonText-Roman"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-regulard41d.eot?#iefix") format("embedded-opentype"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-regular.woff2") format("woff2"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-regular.woff") format("woff"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-regular.ttf") format("truetype"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-regular.svg#CrimsonText") format("svg");
  /* Legacy iOS */
}
/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Crimson Text Italic"), local("CrimsonText-Italic"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-italicd41d.eot?#iefix") format("embedded-opentype"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-italic.woff2") format("woff2"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-italic.woff") format("woff"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-italic.ttf") format("truetype"), url("fonts/crimson-text-v6-latin/crimson-text-v6-latin-italic.svg#CrimsonText") format("svg");
  /* Legacy iOS */
}